{% extends 'PGSAdminBundle::view.html.twig' %}

{% block styleapplication %}
    {{  parent() }}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/view.css' filter='?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock styleapplication %}

{% block pagetitle %}{{ model|title }} View{% endblock pagetitle %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_core_grades_view', { 'id': grade.id }) }}">
                {{ model|title }}
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% if app.request.locale == 'en' %}
                {{ grade.name}}
            {% else %}
                {{ grade.translation('id_ID').name}}
            {% endif %}
        </li>
    </ul>
{% endblock breadcrumb %}

{% block tabcontent %}
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-8 profile-info">
                    <h3 class="form-section">
                        {{ grade.name }}
                    </h3>
                    <div class="well">
                        <h4>{{ grade.code }}</h4>
                        <address>
                            {{ grade.description }}
                        </address>
                    </div>
                </div>
                <!--end col-md-8-->
            </div>
        </div>
    </div>
{% endblock tabcontent %}
