<!-- BEGIN FOOTER -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-warning small">
            &nbsp;
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>About Us</h2>
            <p class="margin-bottom-30">
                ClassGizmo is built with the goal of improving students toward learning.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>Join Us</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'principal'} ) }}">{{ 'schools'|trans|title }}</a>
                </li>
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'teacher'} ) }}">{{ 'teachers'|trans|title }}</a>
                </li>
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'parent'} ) }}">{{ 'parents'|trans|title }}</a>
                </li>
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'student'} ) }}">{{ 'students'|trans|title }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>Newsletter</h2>
        </div>
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>Our Contacts</h2>
            <address class="margin-bottom-40">
                Bandung<br/>
                Phone: (022) 123-4567<br/>
                Email: <a href="mailto:support@classgizmo.com">support@classgizmo.com</a><br/>
            </address>
        </div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="footer-inner">
            2014 &copy; ClassGizmo. All Rights Reserved.
            Use of this Web site constitutes acceptance of the ClassGizmo User Agreement and Privacy Policy.
        </div>
    </div>
</div>
<!-- END FOOTER -->
