{% set parentExtend='PGSStudentBundle::base.html.twig' %}
{% set home= url('pgs_student_dashboard') %}
{% if is_granted('ROLE_ADMIN') %}
    {% set parentExtend='PGSAdminBundle::base.html.twig' %}
    {% set home=url('pgs_admin_dashboard') %}
{% elseif is_granted('ROLE_PRINCIPAL')%}
    {% set parentExtend='PGSPrincipalBundle::base.html.twig' %}
    {% set home= url('pgs_principal_dashboard') %}
{% elseif is_granted('ROLE_TEACHER')%}
    {% set parentExtend='PGSTeacherBundle::base.html.twig' %}
    {% set home= url('pgs_teacher_dashboard') %}
{% elseif is_granted('ROLE_STUDENT')%}
    {% set parentExtend='PGSStudentBundle::base.html.twig' %}
    {% set home= url('pgs_student_dashboard') %}
{% elseif is_granted('ROLE_PARENT')%}
    {% set parentExtend='PGSParentBundle::base.html.twig' %}
    {% set home= url('pgs_parent_dashboard') %}
{% endif%}

{% extends parentExtend %}

{% block pagetitle %} Add Announcement{% endblock pagetitle %}

{% block styleapplication %}
    {{  parent() }}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/view.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock styleapplication %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ home }}">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_core_announcement_list') }}">
                {{ model|title }}
            </a>
        </li>
    </ul>
{% endblock breadcrumb %}

{% block tabcontent %}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8 profile-info">
                    <h3 class="form-section">
                        Add Announcement
                    </h3>
                    <div class="well">
                        <h4 class="warning">Action Not Available</h4>
                        <div class="alert alert-danger">
                            New Announcement must be added along with a new admin / principal / Teacher user
                        </div>
                    </div>
                </div>
                <!--end col-md-8-->
            </div>
        </div>
    </div>
{% endblock tabcontent %}
