{% extends 'PGSAdminBundle::list.html.twig' %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_admin_subject_list') }}">
                {{ model|title }}
            </a>
        </li>
    </ul>
{% endblock breadcrumb %}

{% block list %}
    <div class="col-md-2">
        <ul class="status-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="{{ url('pgs_admin_subject_new') }}" data-title="Compose" class="btn green">
                    <i class="fa fa-edit"></i> Add {{ model }}
                </a>
            </li>
        </ul>
        {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'subject.list'})) }}
    </div>
    <div class="col-md-10">
        <div class="status-header">
            <h1 class="pull-left">{{ model|title }} : All</h1>
        </div>
        <div class="status-content">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th><i class="fa fa-cog"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td>
                            <a href="{{ path('pgs_admin_subject_view', { 'id': subject.id }) }}">
                                {{ subject.id }}
                            </a>
                        </td>
                        {% if app.request.locale == 'en' %}
                            <td>{{ subject.code}}</td>
                        {% else %}
                            <td>{{ subject.translation('id_ID').code}}</td>
                        {% endif %}
                        <td>{{ subject.name|capitalize }}</td>
                        <td>{{ subject.description|capitalize }}</td>
                        <td>
                            <a href="{{ path('pgs_admin_subject_edit', { 'id': subject.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{{ path('pgs_admin_subject_delete', { 'id': subject.id }) }}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock list %}
