<!-- BEGIN FOOTER -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-warning small">
            &nbsp;
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>About Us</h2>
            <p class="margin-bottom-30">
                PT Sinergi Mitra Persada is focus on distributing your products.
            </p>
        </div>
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>Join Us</h2>
            <ul class="list-unstyled">
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'principal'} ) }}">{{ 'principals'|trans|title }}</a>
                </li>
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'teacher'} ) }}">{{ 'outlets'|trans|title }}</a>
                </li>
                <li><i class="fa fa-angle-right"></i>
                    <a href="{{ path('pgs_public_registration_new', {'role':'parent'} ) }}">{{ 'employees'|trans|title }}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 pre-footer-col">
            {#<h2>School Application</h2>#}
            {#<ul class="list-unstyled">#}
                {#<li><i class="fa fa-angle-right"></i>#}
                    {#<a href="{{ path('pgs_core_application_new' ) }}">{{ 'students application'|trans|title }}</a>#}
                {#</li>#}
                {#<li><i class="fa fa-angle-right"></i>#}
                    {#<a href="{{ path('pgs_public_registration_new', {'role':'teacher'} ) }}">Check Application</a>#}
                {#</li>#}
            {#</ul>#}
        </div>
        <div class="col-md-3 col-sm-6 pre-footer-col">
            <h2>Our Contacts</h2>
            <address class="margin-bottom-40">
                Jl. Kresek Raya<br/>
                Ruko Sentra Niaga F-12, Green Lake City<br/>
                Jakarta Barat
                Phone: (021) 123-4567<br/>
                Email: <a href="mailto:support@protouchcomputer.com">support@protouchcomputer.com</a><br/>
            </address>
        </div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="footer-inner">
            2016 &copy; PT Sinergi Mitra Persada. All Rights Reserved.
            Use of this Web site constitutes acceptance of the PT Sinergi Mitra Persada User Agreement and Privacy Policy.
        </div>
    </div>
</div>
<!-- END FOOTER -->
