{% extends 'PGSAdminBundle::list.html.twig' %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_core_school_class_list') }}">
                {{ model|title }}
            </a>
        </li>
    </ul>
{% endblock breadcrumb %}

{% block list %}
    <div class="col-md-2">
        <ul class="status-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="{{ url('pgs_core_school_class_new') }}" data-title="Compose" class="btn green">
                    <i class="fa fa-edit"></i> Add {{ model }}
                </a>
            </li>
        </ul>
        {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'schoolClass.list'})) }}
    </div>
    <div class="col-md-10">
        <div class="status-header">
            <h1 class="pull-left">{{ model|title }}</h1>
        </div>
        <div class="status-content">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        {#<th>School</th>#}
                        <th><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for schoolClass in schoolClasses %}
                        <tr>
                            <td>
                                <a href="{{ path('pgs_core_school_class_view', { 'id': schoolClass.id }) }}">
                                    {{ schoolClass.id }}
                                </a>
                            </td>
                            <td>{{ schoolClass.name|capitalize }}</td>
                            {#<td>{{ schoolClass.school.name|capitalize }}</td>#}
                            <td>
                                <a href="{{ path('pgs_core_school_class_edit', { 'id': schoolClass.id }) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ path('pgs_core_school_class_delete', { 'id': schoolClass.id }) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock list %}
