{% extends 'PGSAdminBundle::list.html.twig' %}

{% block breadcrumb %}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/">
            <i class="fa fa-home"></i>
        </a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ url('pgs_core_school_term_list') }}">
            {{ model|title }}
        </a>
    </li>
</ul>
{% endblock breadcrumb %}

{% block list %}
    <div class="col-md-2">
        <ul class="status-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="{{ url('pgs_core_school_term_new') }}" data-title="Compose" class="btn green">
                    <i class="fa fa-edit"></i> Add {{ model }}
                </a>
            </li>
        </ul>
        {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'school_term.list'})) }}
    </div>
    <div class="col-md-10">
        <div class="status-header">
            <h1 class="pull-left">{{ model|title }} : All</h1>
        </div>
        <div class="status-content">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>School</th>
                        <th>School Year</th>
                        <th>Term</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Active</th>
                        <th><i class="fa fa-wrench"></i></th>
                        <th><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for schoolTerm in schoolTerms %}
                        <tr>
                            <td>
                                <a href="{{ path('pgs_core_school_term_view', { 'id': schoolTerm.id }) }}">
                                    {{ schoolTerm.id }}
                                </a>
                            </td>
                            <td> {{ schoolTerm.school }}</td>
                            <td> {{ schoolTerm.schoolYear }}</td>
                            <td> {{ schoolTerm.term }}</td>
                            <td> {{ schoolTerm.dateStart|date("d/M/Y") }}</td>
                            <td> {{ schoolTerm.dateEnd|date("d/M/Y") }}</td>
                            <td>
                                {% if schoolTerm.active %}
                                    <i class="fa fa-check text-success" title="active"></i>
                                {% else %}
                                    <a href="{{ path('pgs_core_school_term_activate', { 'id': schoolTerm.id }) }}" title="Set as active"><i class="fa fa-check-square-o text-danger"></i></a>
                                {% endif %}
                            </td>
                            <td class="nowrap">
                                <a href="{{ path('pgs_core_school_term_move', { 'id': schoolTerm.id, 'direction': 'top' }) }}">
                                    <i class="fa fa-angle-double-up"></i>
                                </a>
                                <a href="{{ path('pgs_core_school_term_move', { 'id': schoolTerm.id, 'direction': 'up' }) }}">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a href="{{ path('pgs_core_school_term_move', { 'id': schoolTerm.id, 'direction': 'down' }) }}">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <a href="{{ path('pgs_core_school_term_move', { 'id': schoolTerm.id, 'direction': 'bottom' }) }}">
                                    <i class="fa fa-angle-double-down"></i>
                                </a>
                            </td>
                            <td class="nowrap">
                                <a href="{{ path('pgs_core_school_term_edit', { 'id': schoolTerm.id }) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="confirm-delete" href="{{ path('pgs_core_school_term_delete', { 'id': schoolTerm.id }) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock list %}
