{% extends 'PGSPublicBundle::base.html.twig' %}
{% form_theme form 'PGSPublicBundle:Form:form.html.twig' %}

{% block stylepage %}
    {{  parent() }}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/view.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/plugins/upload/style-upload.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/jquery.nailthumb.1.1.min.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylepage %}

{% block container %}
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title"> </div>
                                <div class="portlet-body form">
                                    <form action="" method="post" {{ form_enctype(form) }}>
                                        <div class="form-body">
                                            <div class ="caption">
                                                {% trans %}familyCard{% endtrans %}
                                            </div>
                                            {{form_widget(form)}}
                                            <!-- for showing family card -->
                                            <div class="form-group" style="margin-bottom: 3px; " id="thumb-container">
                                                <label style="opacity: 0"></label>
                                                <div id="thumb">
                                                    {% if application.familyCard == false %}
                                                        <img src="/uploads/blank-image.png" class="thumbnail"/>
                                                    {% else %}
                                                         <img src="/uploads/application/{{ application.id }}/{{ application.familyCard }}" class="thumbnail"/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group" id="uploaders" >
                                                <label style="opacity: 0"></label>
                                                <div class="fileUpload btn btn-primary">
                                                    <span>{% trans %}uploadFile{% endtrans %}</span>
                                                    <input type="file" name="images" id="images" class="upload" accept="image/jpg,image/jpeg,image/png,image/gif,image/bmp,image/tiff" />
                                                    <button type="submit" id="btn" >Upload Files!</button><span style="margin-bottom: 5px"></span>
                                                </div>
                                                <!-- for showing upload progress -->
                                                <div id="response" style="display: inline-table;">
                                                    <img src="/uploads/ajax-loader.gif" id="loader" style="display: none">
                                                    <span id="uploadStatus" style="display: none">Uploading...</span>
                                                </div>
                                            </div>
                                            <input type="hidden" id="url" value="{{ path('pgs_core_application_upload_family_card')}}"/>
                                        </div>
                                        <div class="form-actions fluid">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn blue" type="submit">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                 </div>
                            </div>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    <div class="clearfix"></div>
{% endblock container %}
{% block scriptcurrent %}
    {{ parent() }}
    {% javascripts '@PGSPublicBundle/Resources/public/plugins/upload/upload.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@PGSPublicBundle/Resources/public/scripts/jquery.nailthumb.1.1.min.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#picture_country').bind('change', null,function () {
                $.ajax({
                    'url': '{{ url('pgs_core_cascade_state_by_country') }}/' + $(this).val(),
                    'beforeSend': function () {
                        $('#picture_state option:gt(0)').remove();
                    },
                    'success': function (result) {
                        $('#picture_state').append(result);
                    }
                });
            });
        });
    </script>
{% endblock scriptcurrent %}



