{% extends 'PGSAdminBundle::view.html.twig' %}
{% form_theme form 'PGSAdminBundle:Form:form.html.twig' %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_core_application_list') }}">
                {{ model|title }}
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% if application.id %}Edit{% else %}New{% endif %} {{ model }}
        </li>
    </ul>
{% endblock breadcrumb %}

{% block tabcontent %}
    <div class="row">
        <div class="col-md-5">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class ="caption">
                        {% if application.id %}Edit{% else %}New{% endif %} {{ model }}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="" method="post" {{ form_enctype(form) }} >
                        <div class="form-body">
                            {{ form_widget(form) }}
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn blue" type="submit">{% trans %}save{% endtrans %}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {% if application.id %}
                {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'application.edit'})) }}
            {% else %}
                {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'application.add'})) }}
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock tabcontent %}
{% block scriptcurrent %}
    {{ parent() }}
    {% javascripts '@PGSPublicBundle/Resources/public/plugins/upload/upload.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@PGSPublicBundle/Resources/public/scripts/jquery.nailthumb.1.1.min.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $('.date').datepicker({ dateFormat: 'dd-mm-yy' });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#application_country').bind('change', null,function () {
                $.ajax({
                    'url': '{{ url('pgs_core_cascade_state_by_country') }}/' + $(this).val(),
                    'beforeSend': function () {
                        $('#application_state')[0].options.length = 0;
                    },
                    'success': function (result) {
                        $('#application_state').append(result);
                    }
                });
            });

            $('#application_school').bind('change', null,function () {
                $.ajax({
                    'url': '{{ url('pgs_core_cascade_school_year_by_school') }}/' + $(this).val(),
                    'beforeSend': function () {
                        $('#application_school_year')[0].options.length = 0;
                    },
                    'success': function (result) {
                        $('#application_school_year').append(result);
                    }
                });
            });
        });

    </script>
{% endblock scriptcurrent %}
