{% extends 'PGSPublicBundle::base.html.twig' %}
{#{% form_theme form 'PGSPublicBundle:Form:form.html.twig' %}#}

{% block stylepage %}
    {{  parent() }}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/view.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/plugins/upload/style-upload.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/jquery.nailthumb.1.1.min.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylepage %}

{% block container %}
<div class="page-container" xmlns="http://www.w3.org/1999/html">
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet box blue">
                                <div class="portlet-title"> </div>
                                    <div class="portlet-body form">
                                         <div class="form-body">
                                            <div class ="caption">
                                                {% trans %}homeFilesUpload{% endtrans %}
                                            </div>
                                            </br>
                                            <!-- for showing picture -->

                                            <div class="form-group"  id="thumb-container">
                                                <label style="opacity: 0"></label>
                                                <div id="thumb" >
                                                    {% if application.picture == false %}
                                                        <img style="height:150px; width:150px;" src="/uploads/blank-image.png" class="thumbnail"/>
                                                    {% else %}
                                                        <img style="height: 150px; width:150px; max-width:150px; max-height:150px;" src="/uploads/application/{{ application.id }}/{{ application.picture }}" class="thumbnail"/>
                                                    {% endif %}
                                                </div>
                                                <div class=" col-md-9 " >
                                                    <a href="{{ path('pgs_core_application_picture',{'applicationId' : applicationId})}}">
                                                        <button class="btn blue" type="button">{% trans %}changePicture{% endtrans %}</button>
                                                    </a>
                                                </div>
                                            </div>
                                            </br></br>
                                            {#<div class=" col-md-9 ">#}
                                                {#<a href="{{ path('pgs_core_application_picture',{'applicationId' : applicationId})}}">#}
                                                    {#<button class="btn blue" type="button">{% trans %}changePicture{% endtrans %}</button>#}
                                                {#</a>#}
                                            {#<div>#}
                                            {#</br></br>#}
                                            <!-- for showing birth certificate -->
                                            <div class="form-group" style="margin-bottom: 3px;  " id="thumb-container">
                                            <label style="opacity: 0"></label>
                                            <div id="thumb" >
                                                {% if application.birthCertificate == false %}
                                                    <img style="height:150px; width:150px;" src="/uploads/blank-image.png" class="thumbnail"/>
                                                {% else %}
                                                    <img style="height:150px; width:150px;" src="/uploads/application/{{ application.id }}/{{ application.birthCertificate }}" class="thumbnail"/>
                                                {% endif %}
                                                </div>
                                            </div>
                                            <div class=" col-md-9 ">
                                                <a href="{{ path('pgs_core_application_birth_certificate',{'applicationId' : applicationId})}}">
                                                    <button class="btn blue" type="button">{% trans %}changeBirthCertificate{% endtrans %}</button>
                                                </a>
                                            </div>
                                            </br></br>
                                            <!-- for showing family card -->
                                            <div class="form-group" style="margin-bottom: 3px; " id="thumb-container">
                                                <label style="opacity: 0"></label>
                                                <div id="thumb">
                                                    {% if application.familyCard == false %}
                                                        <img style="height:150px; width:150px;" src="/uploads/blank-image.png" class="thumbnail"/>
                                                    {% else %}
                                                        <img style="height:150px; width:150px;" src="/uploads/application/{{ application.id }}/{{ application.familyCard }}" class="thumbnail"/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class=" col-md-9 ">
                                                <a href="{{ path('pgs_core_application_family_card',{'applicationId' : applicationId})}}">
                                                    <button class="btn blue" type="button">{% trans %}changeFamilyCard{% endtrans %}</button>
                                                </a>
                                            </div>
                                            </br></br>
                                            <!-- for showing graduation certificate -->
                                            <div class="form-group" style="margin-bottom: 3px; " id="thumb-container">
                                                <label style="opacity: 0"></label>
                                                <div id="thumb">
                                                    {% if application.graduationCertificate == false %}
                                                        <img style="height:150px; width:150px;" src="/uploads/blank-image.png" class="thumbnail"/>
                                                    {% else %}
                                                        <img style="height:150px; width:150px;" src="/uploads/application/{{ application.id }}/{{ application.graduationCertificate }}" class="thumbnail"/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class=" col-md-9 ">
                                                <a href="{{ path('pgs_core_application_graduation_certificate',{'applicationId' : applicationId})}}">
                                                    <button class="btn blue" type="button">{% trans %}changeGraduationCertificate{% endtrans %}</button>
                                                </a>
                                            </div>
                                            </br></br></br>
                                            <div class="form-actions fluid">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <a href="{{ path('homepage')}}">
                                                        <button class="btn blue" type="button">{% trans %}save{% endtrans %}</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
    </div>
    <div class="clearfix"></div>
{% endblock container %}
{% block scriptcurrent %}
    {{ parent() }}
    {% javascripts '@PGSPublicBundle/Resources/public/plugins/upload/upload.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@PGSPublicBundle/Resources/public/scripts/jquery.nailthumb.1.1.min.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#picture_country').bind('change', null,function () {
                $.ajax({
                    'url': '{{ url('pgs_core_cascade_state_by_country') }}/' + $(this).val(),
                    'beforeSend': function () {
                        $('#picture_state option:gt(0)').remove();
                    },
                    'success': function (result) {
                        $('#picture_state').append(result);
                    }
                });
            });
        });
    </script>
{% endblock scriptcurrent %}



