{% extends 'PGSAdminBundle::list.html.twig' %}
{#{% form_theme form 'PGSAdminBundle:Form:form.html.twig' %}#}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="/">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_core_school_class_student_list') }}">
                {{ model|title }}
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {#{% if schoolClassStudents.id %}Edit{% else %}New{% endif %} {{ model }}#}
        </li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    {% block list %}
        {#<div class="col-md-2">#}
            {#{% if is_granted('ROLE_ADMIN') %}#}
                {#<ul class="status-nav margin-bottom-10">#}
                    {#<li class="compose-btn">#}
                        {#&#123;&#35;<a href="{{ url('pgs_core_organization_new') }}" data-title="Compose" class="btn green">&#35;&#125;#}
                        {#&#123;&#35;<i class="fa fa-edit"></i> Add {{ model }}&#35;&#125;#}
                        {#&#123;&#35;</a>&#35;&#125;#}
                    {#</li>#}
                    {#{% include('PGSCoreDomainBundle:Widget:status_selector.html.twig') %}#}
                {#</ul>#}
            {#{% endif %}#}
            {#{{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'application.list'})) }}#}
        {#</div>#}
        <div class="col-md-5">
            <div class="status-header">
                <h1 class="pull-left">Student Class</h1>
            </div>
            <div class="status-content">
                <form action="" method="post" id="frm">
                    <div class="form-body">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <tbody>
                                <tr>
                                    <th>Class</th>
                                    <th>
                                        {#<ul class="list-unstyled list-inline">#}
                                            {#<li class="selectors-block">#}
                                                {#{% if schoolClassStudent.schoolClassId != null %}#}
                                                    {#<a href="javascript:void(0);" class="current">#}
                                                    {#Select a class <i class="fa fa-angle-down"></i>#}
                                                    {#</a>#}
                                                    {#<div class="selectors-block-others-wrapper">#}
                                                        {#<div class="selectors-block-others">#}
                                                            {#{% for schoolClass in schoolClasses %}#}
                                                                {#&#123;&#35;{% if schoolClass.name != schoolClassStudent.schoolClass.name or schoolClassStudent.schoolClass.name %}&#35;&#125;#}
                                                                {#<a href="{{ path('pgs_core_school_class_student_new', { 'schoolClassId': schoolClass.id })}}">#}
                                                                    {#<i class="fa fa-circle"></i>{{ schoolClass.name }}</br>#}
                                                                {#</a>#}
                                                                {#&#123;&#35;{% endif %}&#35;&#125;#}
                                                            {#{% endfor %}#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#{% else %}#}
                                                    {#<a href="javascript:void(0);" class="current">#}
                                                        {#{{ schoolClassStudent.schoolClass.name }} <i class="fa fa-angle-down"></i>#}
                                                    {#</a>#}
                                                    {#<div class="selectors-block-others-wrapper">#}
                                                    {#<div class="selectors-block-others">#}
                                                        {#{% for schoolClass in schoolClasses %}#}
                                                            {#{% if schoolClass.name != schoolClassStudent.schoolClass.name %}#}
                                                                {#<a href="{{ path('pgs_core_school_class_student_new', { 'schoolClassId': schoolClass.id })}}">#}
                                                                    {#<i class="fa fa-circle"></i>{{ schoolClass.name }}</br>#}
                                                                {#</a>#}
                                                            {#{% endif %}#}
                                                        {#{% endfor %}#}
                                                    {#</div>#}
                                                {#</div>#}
                                                {#{% endif %}#}
                                            {#</li>#}
                                        {#</ul>#}
                                        <select name="selectedClass" class="col-md-8">
                                            {% for schoolClass in schoolClasses %}
                                                <option value="{{ schoolClass.id }}">{{ schoolClass.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </th>
                                </tr>

                                <tr>
                                    <th class="col-md-2"><input type="checkbox" name="checkall" onclick="checkedAll(frm)"/></th>
                                    {#<th class="col-md-2" style="text-align: center;">Student Id</th>#}
                                    <th class="col-md-9" style="text-align: center;">Students </th> </td>
                                </tr>
                                    {% for student in students %}
                                        <tr>
                                            <td class="col-md-2"><input type="checkbox" name="studentCheckbox[]" value="{{ student.id }}"/></td>
                                            {#<td class="col-md-2">#}
                                                {#<a href="{{ path('pgs_core_behavior_appraisal_view', { 'id': schoolClassStudent.id }) }}">#}
                                                    {#{{ schoolClassStudent.studentId }}#}
                                                {#</a>#}
                                            {#</td>#}
                                            <td class="col-md-9">{{student.firstName | capitalize}} &nbsp {{student.lastName | capitalize}}</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn blue" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="navigation">
            {#{{ knp_pagination_render(schoolClassStudent) }}#}
        </div>
        <div class="clearfix"></div>
    {% endblock list %}
{% endblock content %}


{% block scriptcurrent %}
    <script type="text/javascript">
        checked=false;
        function checkedAll (frm) {var aa= document.getElementById('frm'); if (checked == false)
        {
            checked = true
        }
        else
        {
            checked = false
        }for (var i =0; i < aa.elements.length; i++){ aa.elements[i].checked = checked;}
        }
    </script>

{% endblock scriptcurrent %}


{% block stylepage %}
    {{ parent() }}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/style-corporate.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/style.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/themes/blue.css' filter='?yui_css' %}
    <link id="style_color" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/style-responsive.css' filter='?yui_css' %}
    <link id="style_color" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/custom.css' filter='?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylepage %}