{% set home= url('pgs_student_dashboard') %}
{% if is_granted('ROLE_ADMIN') %}
    {% set home=url('pgs_admin_dashboard') %}
{% elseif is_granted('ROLE_PRINCIPAL')%}
    {% set home= url('pgs_principal_dashboard') %}
{% elseif is_granted('ROLE_TEACHER')%}
    {% set home= url('pgs_teacher_dashboard') %}
{% elseif is_granted('ROLE_STUDENT')%}
    {% set home= url('pgs_student_dashboard') %}
{% elseif is_granted('ROLE_PARENT')%}
    {% set home= url('pgs_parent_dashboard') %}
{% endif%}

{% extends 'PGSCoreDomainBundle::form.html.twig' %}
{% form_theme form 'PGSCoreDomainBundle:Form:form.html.twig' %}

{#{% block pagetitle %}{% trans %}Icon Maintenance{% endtrans %}{% endblock pagetitle %}#}

{% block stylepage %}
    {{  parent() }}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/view.css' filter='?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/plugins/upload/style-upload.css' filter='?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@PGSPublicBundle/Resources/public/css/pages/jquery.nailthumb.1.1.min.css' filter='?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylepage %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ home }}">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="{{ url('pgs_core_icon_list') }}">
                {% trans %}Icon{% endtrans %}
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% if icon.id %}{% trans %}Edit{% endtrans %}{% else %}{% trans %}New{% endtrans %}{% endif %} {% trans %}Icon{% endtrans %}
        </li>
    </ul>
{% endblock breadcrumb %}

{% block tabcontent %}
    <div class="row">
        <div class="col-md-5">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class ="caption">
                        {% if icon.id %}{% trans %}Edit{% endtrans %}{% else %}{% trans %}New{% endtrans %}{% endif %} {% trans %}Icon{% endtrans %}
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="" method="post" {{ form_enctype(form) }}>
                        <div class="form-body">
                            {#THUMBNAIL CONTAINER FOR UPLOADED IMAGE#}
                            <div class="form-group" style="margin-bottom: 3px; {% if icon.id == false %}display: none{% endif %}" id="thumb-container">
                                <label style="opacity: 0"></label>
                                <div id="thumb">
                                    <img src="/uploads/icon/{{ icon.id }}/{{ icon.iconFile }}" class="thumbnail"/>
                                </div>
                            </div>
                            <div class="form-group" id="uploaders">
                                <label style="opacity: 0"></label>
                                <div class="fileUpload btn btn-primary">
                                    <span>New Icon</span>
                                    <input type="file" name="images" id="images" class="upload" accept="image/jpg,image/jpeg,image/png,image/gif,image/bmp,image/tiff" />
                                    <button type="submit" id="btn" >Upload Files!</button><span style="margin-bottom: 5px"></span>
                                </div>
                                <!-- for showing upload progress -->
                                <div id="response" style="display: inline-table;">
                                    <img src="/uploads/ajax-loader.gif" id="loader" style="display: none">
                                    <span id="uploadStatus" style="display: none">Uploading...</span>
                                </div>
                            </div>
                            <input type="hidden" id="url" value="{{ path('pgs_core_icon_upload') }}"/>

                            {{ form_widget(form) }}
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn blue" type="submit">{% trans %}Save{% endtrans %}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {% if icon.id %}
                {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'icon.add'})) }}
            {% else %}
                {{ render(controller('PGSCoreDomainBundle:Help:fetch', { 'key':'icon.edit'})) }}
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock tabcontent %}

{% block scriptcurrent %}
    {{ parent() }}
    {% javascripts '@PGSPublicBundle/Resources/public/plugins/upload/upload.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@PGSPublicBundle/Resources/public/scripts/jquery.nailthumb.1.1.min.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#icon_country').bind('change', null,function () {
                $.ajax({
                    'url': '{{ url('pgs_core_cascade_state_by_country') }}/' + $(this).val(),
                    'beforeSend': function () {
                        $('#icon_state option:gt(0)').remove();
                    },
                    'success': function (result) {
                        $('#icon_state').append(result);
                    }
                });
            });
        });
    </script>
{% endblock scriptcurrent %}
