{% set parentExtend='PGSStudentBundle::base.html.twig' %}
{% set home= url('pgs_student_dashboard') %}
{% if is_granted('ROLE_ADMIN') %}
    {% set parentExtend='PGSAdminBundle::base.html.twig' %}
    {% set home=url('pgs_admin_dashboard') %}
{% elseif is_granted('ROLE_PRINCIPAL')%}
    {% set parentExtend='PGSPrincipalBundle::base.html.twig' %}
    {% set home= url('pgs_principal_dashboard') %}
{% elseif is_granted('ROLE_TEACHER')%}
    {% set parentExtend='PGSTeacherBundle::base.html.twig' %}
    {% set home= url('pgs_teacher_dashboard') %}
{% elseif is_granted('ROLE_STUDENT')%}
    {% set parentExtend='PGSStudentBundle::base.html.twig' %}
    {% set home= url('pgs_student_dashboard') %}
{% elseif is_granted('ROLE_PARENT')%}
    {% set parentExtend='PGSParentBundle::base.html.twig' %}
    {% set home= url('pgs_parent_dashboard') %}
{% endif%}

{% extends parentExtend %}

{% block breadcrumb %}
<ul class="page-breadcrumb breadcrumb" style="margin-top: 0px; margin-bottom: 0px;">
    <li>
        <a href="{{ home }}">
            <i class="fa fa-home"></i>
        </a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{{ url('pgs_core_icon_list') }}">
            {% trans %}Icon{% endtrans %}
        </a>
    </li>
</ul>
{% endblock breadcrumb %}

{% block content %}
    <div>
        <h1 style="margin-top: 0px;">{% trans %}Icon{% endtrans %}</h1>
        <a href="{{ url('pgs_core_icon_new') }}" data-title="Compose" class="btn green">
            <i class="fa fa-edit"></i> {% trans %}Add{% endtrans %} {% trans %}Icon{% endtrans %}
        </a>
    </div>

    <div class="col-md-10">
        <div class="status-content pull-left" style="overflow-y: scroll; width: 100%; height:400px;">
            <table class="table table-striped table-bordered table-advance table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Icon{% endtrans %}</th>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>Status</th>
                        <th><i class="fa fa-wrench"></i></th>
                        <th><i class="fa fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for icon in icons %}
                        <tr>
                            <td>
                                <a href="{{ path('pgs_core_icon_view', { 'id': icon.id }) }}">
                                    {{ icon.id }}
                                </a>
                            </td>
                            {% if app.request.locale == 'en' %}
                                <td>{{ icon.name}}</td>
                            {% else %}
                                <td>{{ icon.translation('id_ID').name}}</td>
                            {% endif %}
                            <td><img width="20px" height="20px" src="/uploads/icon/{{ icon.id }}/{{ icon.iconFile }}"></td>
                            <td>{{ icon.type|title }}</td>
                            <td>{{ icon.status|capitalize }}</td>
                            <td class="nowrap">
                                <a href="{{ path('pgs_core_icon_move', { 'id': icon.id, 'direction': 'top' }) }}">
                                    <i class="fa fa-angle-double-up"></i>
                                </a>
                                <a href="{{ path('pgs_core_icon_move', { 'id': icon.id, 'direction': 'up' }) }}">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a href="{{ path('pgs_core_icon_move', { 'id': icon.id, 'direction': 'down' }) }}">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <a href="{{ path('pgs_core_icon_move', { 'id': icon.id, 'direction': 'bottom' }) }}">
                                    <i class="fa fa-angle-double-down"></i>
                                </a>
                            </td>
                            <td class="nowrap">
                                <a href="{{ path('pgs_core_icon_edit', { 'id': icon.id }) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ path('pgs_core_icon_delete', { 'id': icon.id }) }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block scriptcurrent %}
    {{ parent() }}

    {% set url = url('pgs_core_icon_by_status') %}
    {% include("PGSAdminBundle:Widget:status.html.twig") with {'url': url('pgs_core_icon_by_status') } %}

{% endblock scriptcurrent %}
